# Secrets
firebase-config*.json
firebase-config*.js
firebase-config*.ts
service-account*.json
service-account*.js
service-account*.ts

# Build & Deps
node_modules
build
lib
.firebase

# Logs
*.log

# OS
.DS_Store
